body{
    
    background-position: top center;
    background-repeat: no-repeat;
    background-color:black;
    background-size: auto;
}

.container{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    color:black;
    
}

.img-body{
    display: inline-flex;
}





.btn-success{
    background-color:green;
    border: 3px solid black;
}

.jumbotron{
    background-color: transparent;
    justify-content: center;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
}

.page1{
    background-image: url(../images/Orange1.jpg);
   

}

.page2{
    background-image: url(../images/last2.jpg);

}

img{
    margin-left: 5px;
    margin-right: 5px;

}








@media(max-width: 1300px){



body{
    background-size: 1300px;
}


}
